services:
  database:
    image: postgres:alpine
    container_name: edna-database
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - psql_volume_bp:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    container_name: edna-bar-backend
    ports:
      - 8080:8080
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - database

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: runner
    container_name: edna-frontend
    ports:
      - "80:80"
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - backend

volumes:
  psql_volume_bp:
